<?xml version="1.0"?>
<launch>
  <arg name="gripper"/>
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(find sapien_simulator)/urdf/panda.urdf'"/>
  <param name="robot_description_semantic"
         textfile="$(find sapien_simulator)/config/panda/panda.srdf"/>
  <param name="joint_limits"
         textfile="$(find sapien_simulator)/config/panda/joint_limits.yaml"/>
  <include file="$(find sapien_simulator)/launch/panda_controllers.launch"/>
</launch>
