<?xml version="1.0"?>
<launch>
  <!-- Perception Solution-->
  <include file="$(find ocrtoc_perception)/launch/perception_solution.launch" />

  <!-- Planning Solution-->
  <include file="$(find ocrtoc_planning)/launch/planning_solution.launch" />

  <!-- Moveit pkg -->
  <include file="$(find panda_moveit_config)/launch/ocrtoc.launch" />

</launch>
