<?xml version="1.0"?>
<launch>
  <arg name="task_index" default="0-0" doc="Task index"/>
  <node pkg="pybullet_simulator" type="load_env_ros.py" name="pybullet_env" respawn="false" output="screen" >
    <param name="task_index" value="$(arg task_index)"/>
  </node>

  <node pkg="ocrtoc_task" type="timed_roslaunch.sh"
    args="2 pybullet_simulator ros_interface.launch"
    name="ros_interface" respawn="false" output="screen" >
  </node>

  <include file="$(find pybullet_simulator)/launch/panda_upload.launch"/>
</launch>
