name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Download third party
      run: sh docker/download_thirdparty.sh 
    - name: Build the Docker image
      run: |
        TAG=$(echo $GITHUB_REF | sed 's/refs\/tags\///')
        bash build.sh ocrtoc:$TAG
